# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other stuff
*.pro*
*.user
*.cbp
*.old
*.orig
*cache.txt

# directories
*build/
